ante-proyecto.aux
ante-proyecto.bbl
ante-proyecto.blg
ante-proyecto.dvi
ante-proyecto.log
ante-proyecto.pdf
ante-proyecto.synctex.gz
texput.log
unix_latex_template/
.DS_Store
FormatoTesisUDP.rar
FormatoTesisUDP/
udpbase.sty
udpbook.cls
udplogo.pdf
thesis_rfuenzalidac.aux
thesis_rfuenzalidac.lof
thesis_rfuenzalidac.log
thesis_rfuenzalidac.lot
thesis_rfuenzalidac.pdf
thesis_rfuenzalidac.synctex.gz
thesis_rfuenzalidac.toc
anteproyecto_tesis_r_fuenzalida.pdf
inf_tele.jpg